/* Mobile Styles */
body, header {
  margin: 0;
  padding: 0;
}

header img {
  width: 100%; /* Image takes the width of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures the image behaves as a block element */
}

/* CSS for product images */
.product img {
  width: 300px;
  heixxxxght: 240px;
}

/* Font family for class product */
.product {
  font-family: 'Fira Sans', sans-serif; /* Fallback font to sans-serif */
  font-weight: 400;
  font-style: italic;
}



/*  resposive code below this point */
/* At viewport widths up to 768px */
main, footer, div[id^="place"] {
  padding: 20px;
  border: 1px solid #ff0000; /* red */
}

#place1,
#place2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 350px;
  text-align: center;
  margin: 10px;
}



/* Tablet Styles (768px) */
@media (min-width: 768px) {
main, footer, div[id^="place"] {
    padding: 40px;
	border: 1px solid #00ff00; /* green */
  }
  
  #place1,
  #place2 {
    justify-content: flex-start;
  }
  .product {
    width: calc(50% - 30px); /* Subtracting margin from total width */
  }
  
  header {
	text-align: center; /* Center-align the header content */
}
  header img {
    max-width: 768px; /* Set maximum width for the image */
    margin: 0 auto; /* Center the image horizontally */
  }
}



/* Desktop Styles (1024px) */
@media (min-width: 1024px) {
main, footer, div[id^="place"] {
    padding: 60px;
	border: 1px solid #0000ff; /* blue */
  }  
  .product {
  width: calc(33.33% - 40px); /* Subtracting margin from total width */
  }
}



/* At viewport widths greater than 1200px */
@media (min-width: 1200px) {
  #place1,
  #place2 {
    justify-content: center;
  }
  .product {
    width: calc(33.33% - 40px); /* Subtracting margin from total width */
    max-width: 350px; /* Maximum width for each product */
  }
}