/* Mobile Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


/* At viewport widths up to 768px */
header, main, footer {
  padding: 20px;
  
  border-style: solid;
  border-color: #ff0000; /* red */
}


#place1,
#place2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 350px;
  text-align: center;
  margin: 10px;
}


/* Tablet Styles (768px) */
@media (min-width: 768px) {
  header, main, footer {
    padding: 40px;
	
	border-style: solid;
	border-color: #00ff00; /* green */
  }
  
  #place1,
  #place2 {
    justify-content: flex-start;
  }
  .product {
    width: calc(50% - 20px); /* Subtracting margin from total width */
  }
}

/* Desktop Styles (1024px) */
@media (min-width: 1024px) {
  header, main, footer {
    padding: 60px;
	
	border-style: solid;
	border-color: #0000ff; /* blue */
  }
  
}


