/* Mobile Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS for product images */
.product img {
  width: 300px;
  heixxxxght: 240px;
}


/*  resposive code below this point */
/* At viewport widths up to 768px */
header, main, footer, div[id^="place"] {
  padding: 20px;
  border: 1px solid #ff0000; /* red */
}

#place1,
#place2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 350px;
  text-align: center;
  margin: 10px;
}



/* Tablet Styles (768px) */
@media (min-width: 768px) {
  header, main, footer, div[id^="place"] {
    padding: 40px;
	border: 1px solid #00ff00; /* green */
  }
  
  #place1,
  #place2 {
    justify-content: flex-start;
  }
  .product {
    width: calc(50% - 30px); /* Subtracting margin from total width */
  }
}



/* Desktop Styles (1024px) */
@media (min-width: 1024px) {
  header, main, footer, div[id^="place"] {
    padding: 60px;
	border: 1px solid #0000ff; /* blue */
  }  
  .product {
  width: calc(33.33% - 40px); /* Subtracting margin from total width */
  }
}



/* At viewport widths greater than 1200px */
@media (min-width: 1200px) {
  #place1,
  #place2 {
    justify-content: center;
  }
  .product {
    width: calc(33.33% - 40px); /* Subtracting margin from total width */
    max-width: 350px; /* Maximum width for each product */
  }
}