/* Mobile Styles */
body, header, div[id^="place"] {
  margin: 0;
  padding: 0;
}

header img {
  width: 100%; /* Image takes the width of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures the image behaves as a block element */
}

/* CSS for product images */
.product img {
  width: 300px;
  height: auto;
}

/* Font family for class product */
.product {
  font-family: 'Fira Sans', sans-serif; /* Fallback font to sans-serif */
  font-weight: 400;
  font-style: italic;
}

/* Styling for the product button */
.product-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners */
  background-color: #d06383; /* Button color  was ffc0cb*/
  color: white; /* Text color */
  text-decoration: none; /* Remove default link underline */
}

.product-button:hover {
  background-color: #9b3044; /* Change color on hover was ff69b4*/
}

/* Font family and size for footer */
footer {
  font-family: 'Rubik Mono One', sans-serif; /* Fallback font to sans-serif */
  font-weight: 400;
  font-size: 10px;
  text-align: right; /* Align text to the right */
  color: #65b0cf; /* Set font color to blue  */
}



/*  resposive code below this point */
/* At viewport widths up to 768px */
main, div[id^="place"], .product, footer {
  border: 1px solid #ff0000;
}

main, footer {
  padding: 20px;
}

/*   these 4 values apply to all px sizes */
div[id^="place"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.product {
  width: 350px;   /* only changes at 1024px */
  text-align: center;
  margin-top: 10px;   margin-bottom: 10px;
}



/* Tablet Styles (768px) */
@media (min-width: 768px) {
  main, div[id^="place"], .product, footer{
    border: 1px solid #00ff00;
  }
  
  main, footer {
    padding: 40px;
  }
  
  .product {
	margin-left: 10px;
  }
  
  header img {
    max-width: 768px; /* Set maximum width for the image */
    margin: 0 auto; /* Center the image horizontally */
  }
  
}



/* Desktop Styles (1024px) */
@media (min-width: 1024px) {
  main, div[id^="place"], .product, footer {
    border: 1px solid #0000ff;
  }  
  
  main, footer {
    padding: 60px;
  }
  
  .product {
    width: 333px; 
  }
  
  header img {
    max-width: 896px; /* Set maximum width for the image */
    margin: 0 auto; /* Center the image horizontally */
  }
  
}



/* At viewport widths greater than 1200px */
@media (min-width: 1200px) {
  main, div[id^="place"], .product, footer {
    border: 1px solid #ffff00;
  } 
  
  .product {
    width: 350px;
  }
}